
@media #{$mq-mobile} {



	.menu-principal {
		position: static;
		display: block;
		text-align: center;
		li {
		margin: .4em;
	}

	}

	 
	.destaque {
		height: 250px;
	}

	.menu-opcoes,
	.menu-opcoes li,
	.post-destaque,
	.posts-antigos,
	form {
		width: auto;
	}


}
@media(max-width:"400px"){
	body{
		min-width: 360px;
	}
	.contato input,
textarea {
	width:300px;
	margin-left: auto;
	margin-right: auto;
  }
		
form{
	width: 100%;
	text-align:center;
}
}