/** Destaque **/
.destaque {
    background: url(../imagens/destaque.jpg) center bottom repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    height: 330px;
    padding-top: 10em;
  }
  
  .destaque p {
    
  }
  
  .destaque p:first-child {
   
  }
  
  .destaque p:first-child:first-line {
   
    font-weight: bold;
  }
  
  .destaque button {
    margin-top: 1em;
    background: $cor-padrao;
    border: 0;
    padding: .6em;
   
    @include borda-arredondada(20px);

   @extend %sombra-padrao ;
    font-weight: bold;
  }